
:root {
  --primary-hue: 132deg;
  --primary-saturation: 50%;
  --navbar-height: 4rem;
  --menu-height: 3.75rem;
  --button-width: 210px;
}

.dark {
  --primary-hue: 102deg;
  --primary-saturation: 100%;
}

@media (max-width: 767px) {
  .sponsor-container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 15;
    width: 100%;
    overscroll-behavior: contain;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-top: calc(var(--navbar-height));
  }
  :is(html[class~="dark"] .sponsor-container) {
    --tw-bg-opacity: 1;
    background-color: rgb(17 17 17 / var(--tw-bg-opacity));
  }
  .sponsor-container {
    transition: transform 0.8s cubic-bezier(0.52, 0.16, 0.04, 1);
    will-change: transform, opacity;
    contain: layout style;
    backface-visibility: hidden;
  }
}

.btn {
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-primary {
    background-color: hsl(var(--primary-hue) var(--primary-saturation) 35% / var(--tw-bg-opacity)) !important;
    border: hsl(var(--primary-hue) var(--primary-saturation) 35% / var(--tw-bg-opacity))px solid !important;
    --tw-text-opacity: 1;
    color: rgb(247 224 239 / var(--tw-text-opacity));
    font-weight: 600;
    width: var(--button-width);
    &:hover,
    &:active,
    &.active,
    &.focus {
        background: var(--btn-primary-bg);
        border-color: var(--btn-primary-border) !important;
        background-color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-bg-opacity)) !important;
        --tw-text-opacity: 1;
        color: rgb(17 24 39 / var(--tw-text-opacity));
    }
    :is(html[class~="dark"])
    &:hover,
    &:active,
    &.active,
    &.focus {
        background: var(--btn-primary-bg);
        border-color: var(--btn-primary-border) !important;
        background-color: hsl(var(--primary-hue) var(--primary-saturation) 55% / var(--tw-bg-opacity)) !important;
        --tw-text-opacity: 1;
        color: rgb(17 24 39 / var(--tw-text-opacity));
    }
}

:is(html[class~="dark"]) .btn-primary {
    color: rgb(37 42 47 / var(--tw-text-opacity));
    background-color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-bg-opacity)) !important;
    border: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-bg-opacity))px solid !important;
    --tw-text-opacity: 1;
    &:hover,
    &:active,
    &.active,
    &.focus {
        color: rgb(17 24 39 / var(--tw-text-opacity)) !important;
        background-color: hsl(var(--primary-hue) var(--primary-saturation) 55% / var(--tw-bg-opacity)) !important;
    }
}

.btn-outlined-primary {
    background-color: var(--btn-primary-bg) !important;
    border: 2px solid hsl(var(--primary-hue) var(--primary-saturation) 35% / var(--tw-bg-opacity)) !important;
    border-color: hsl(var(--primary-hue) var(--primary-saturation) 35% / var(--tw-bg-opacity));
    color: hsl(var(--primary-hue) var(--primary-saturation) 35% / var(--tw-bg-opacity)) !important;
    padding-top: 10px;
    padding-bottom: 10px;
    width: var(--button-width);
    &:hover,
    &:active,
    &.active,
    &.focus {
        background-color: hsl(var(--primary-hue) var(--primary-saturation) 35% / var(--tw-bg-opacity)) !important;
        border-color: hsl(var(--primary-hue) var(--primary-saturation) 35% / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(247 224 239 / var(--tw-text-opacity)) !important;
    }
}

:is(html[class~="dark"]) .btn-outlined-primary {
    color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-bg-opacity)) !important;
    border-color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-bg-opacity)) !important;
    &:hover,
    &:active,
    &.active,
    &.focus {
        color: rgb(17 24 39 / var(--tw-text-opacity)) !important;
        background-color: hsl(var(--primary-hue) var(--primary-saturation) 55% / var(--tw-bg-opacity)) !important;
    }
}


.btn-outlined-error {
    background-color: var(--btn-primary-bg) !important;
    border: 2px solid rgb(255 1 1 / var(--tw-text-opacity)) !important;
    border-color:  rgb(255 1 1 / var(--tw-text-opacity));
    color: var(--btn-primary-color) !important;
    padding-top: 10px;
    padding-bottom: 10px;
    width: var(--button-width);

    &:hover,
    &:active,
    &.active,
    &.focus {
        background-color: rgb(255 2 3 / var(--tw-text-opacity))  !important;
        border-color: rgb(255 2 3 / var(--tw-text-opacity)) ; //hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgb(255 2 3 / var(--tw-text-opacity));
    }
}

.align-middle{vertical-align:middle!important}

.focus\:ring-primary-100:focus {
  //--tw-ring-opacity: 90;
  //--tw-ring-color: rgb(255 1 1 / var(--tw-text-opacity));
}

:is(html[class~="dark"] .dark\:focus\:ring-primary-100:focus) {
  //--tw-ring-opacity: 90;
  //--tw-ring-color: rgb(255 1 1 / var(--tw-text-opacity));
}

.news {
  padding-top: 10px;
  padding-bottom: 10pt; !important;
  font-size: 14pt;
}

.news h1, h2, h3 {
    padding-top: 1px;
    padding-bottom: 10px;
    font-weight: bolder;
}
.news h1 {
    font-size: 20pt;
    border-bottom-width: 1px;
    a {
      font-size: 20pt;
      text-decoration: none;
      color: black;
    }
}
.news h2 {
    font-size: 14pt;
    padding-bottom: 1px;
}
.news h3 {
    font-size: 14pt;
    padding-bottom: 1px;
    font-weight: normal;
}

.news hr {
    padding-top: 2px;
    padding-bottom: 2px;
    border-color: gray;
}

.cta-buttons {
  padding-bottom: 1.5rem;
  border-bottom-width: 1px;
  border-color: rgb(229 229 229 / 0.7);
}

:is(html[class~="dark"]) .cta-buttons{
  border-color: rgba(234, 255, 224, 0.1);
}

.news article {
    border-bottom-width: 1px;
}

:is(html[class~="dark"]) .news article {
  border-color: rgba(234, 255, 224, 0.1);
}

.news a {
  color: green;
  text-decoration: underline;
  padding-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px; !important;
  font-size: 11pt;
}

:is(html[class~="dark"]) .news a {
  color: hsl(var(--primary-hue) var(--primary-saturation) 45% / var(--tw-text-opacity)) !important;
}

:is(html[class~="dark"]) .news h1 {
   border-color: rgba(234, 255, 224, 0.1);
    a {
      color: rgb(243 244 246 / var(--tw-text-opacity)) !important;
      text-decoration: none;
      padding-top: 1px;
      padding-bottom: 10px;
      font-weight: bolder;
      font-size: 20pt;
    }
}

.pagination ul {
 display: ruby !important;
 list-style-type: none !important;
}

.pagination-default {
 display: ruby !important;
 list-style-type: none !important;
}
.page-item ul li {
 display: inline !important;
 list-style-type: none !important;
}