{{- $link := .Get "link" -}}
{{- $icon := .Get "icon" -}}
{{- $text := .Get "text" -}}
{{- $prim := .Get "prim" -}}
{{- $error := .Get "err" -}}

{{- $external := hasPrefix $link "http" -}}
{{- $href := cond (hasPrefix $link "/") ($link | relURL) $link -}}

<a href="{{- $href -}}" class="btn {{ if $prim }}btn-primary{{ else if $error }}btn-outlined-error{{ else }}btn-outlined-primary{{ end }}"
  {{ if $external }}target="_blank" rel="noreferrer"{{ end -}}>
  <span class="material-icons">{{ $icon }}</span>
  {{ with $text }}{{ . }}{{ end }}
</a>
